.root {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  position: relative;

  user-select: none;
  :global {
    .selected {
      background-color: rgba(235, 118, 0, 0.5);
      a {
        color: white;
      }
    }
    li {
      cursor: pointer;
    }
    li:not(:first-child, :last-child) {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid rgba(235, 118, 0, 0.791);

      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    .previous,
    .next {
      position: relative;

      padding: 0px 7px;
    }
    .previous:active {
      left: -4px;
    }
    .next:active {
      right: -4px;
    }
  }
}
